.main-card-img {
  border-radius: 50%;
  left: 0;
  box-shadow: -5px -5px 7px rgba(255, 255, 255, 0.3), 7px 7px 7px rgba(0, 0, 0, 0.2);
  transform: translate(20%, -30%);
}

.my-name {
  color: tomato;
}

.my-exp, .my-bio, .contact-info-title, #contact-info-table {
  color: lightgray;
}

.contact-info-title {
  margin-bottom: 5px;
}

#contact-info-table {
  padding-right: 25px;
}

#contact-info-table a, #contact-info-table p {
  display: inline-block;
  margin: 7px 20px;
  text-decoration: none;
  color: lightgray;
}

#contact-info-table a:hover {
  color: orangered;
  transition: color ease-in .2s;
}
