@font-face {
  font-family: 'Cinema';
  src: url("../assets/fonts/Cinema.ttf");
}

@font-face {
  font-family: 'Yekan';
  src: url('../assets/fonts/Yekan.ttf');
}

@font-face {
  font-family: 'OleoScript';
  src: url('../assets/fonts/OleoScript.ttf');
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald.ttf');
}

body {
  margin: 0;
  background-color: #0a0a0a;
  font-family: Yekan;
}

nav {
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  height: 40px;
  width: 100%;
  position: sticky;
  z-index: 5;
}

nav a {
  height: initial;
  padding: 0 20px;
  color: lightgray;
  text-decoration: none;
  font-weight: lighter;
  font-size: larger;
}

nav .active {
  background-color: darkred;
  color: lightgray;
}

nav a:hover:not(.active, .title-card) {
  background-color: #292929;
  /*background-color: #3e3e3e;*/
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-card {
  display: flex;
  align-items: center;
  direction: ltr;
  flex-grow: 1;
  color: #D08504;
  font-size: x-large;
  font-family: OleoScript;
}
